<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Acortador de vinculos</h3>

  <ion-list inset>
    <ion-item>
      <ion-label floating>Vinculo completo:</ion-label>
      <ion-input [(ngModel)]="fullLink" type="url"></ion-input>
    </ion-item>
  </ion-list>  

  <button ion-button color="primary" (click)="shorten(fullLink)">Acortar</button>

  <ion-list inset *ngIf="shortenLink != ''">
    <ion-item>
      <ion-label floating>Vinculo acortado</ion-label>
      <ion-input #shortenInput [(ngModel)]="shortenLink" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <button *ngIf="shortenLink != ''" ion-button color="primary" outline (click)="navigate()">Navegar a vinculo</button>
</ion-content>
