page-list {
  .btn-refresh{
    transition: background-color .2s;
    padding: 10px !important;
    border-radius: 10px;
  }
  .btn-refresh:hover{
    background-color: rgba($color: #fff, $alpha: .4);
    
  }
}
